{%load static%}
{%for categoryy in categorylist%}
<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal" id="quick-view-{{ categoryy.categoryname }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content quick-view-modal">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="quick-view-img">
                            <img src="{{ categoryy.categoryimg }}" class="img-fluid" alt="product"> 
                            </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2>{{ categoryy.categoryname }}</h2>
                            <div class="border-product">
                                <h6 class="product-title">product details</h6>
                                <p>{{ categoryy.categorydescription }}</p>
                            </div>
                            <div class="product-description border-product">
                               
                                
                            </div>
                            <div class="product-buttons text-center"><a href="{% url 'product:products' %}" class="btn btn-normal">Show Category products</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}
<!-- Quick-view modal popup end-->