{%load static%}
        
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="custom-container">
                <div class="row">
                    <div class="col-xl-5 col-md-7 col-sm-6">
                        <div class="top-header-left">
                            <div class="shpping-order">
                                <h6>ElasticSearch MediaNet </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-header1 layout-header1-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-menu-block">
                            <div class="menu-left">
                                <div class="brand-logo">
                                    <a href="#">
                                        <img src=" {% static 'assets/images/layout-5/logo/logo.png' %} " class="img-fluid  " alt="logo-header">
                                    </a>
                                </div>
                            </div>
                            <div class="menu-right">
                                <div class="toggle-block">
                                    <nav id="main-nav">
                                        <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                        <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                            <li>
                                                <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                            </li>
                                            <li class="mega"><a href="#">product
                                            </a>
                                                <ul class="mega-menu full-mega-menu">
                                                    <li>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col mega-box">
                                                                    <div class="link-section">
                                                                        <div class="menu-title">
                                                                            <h5>sidebar</h5>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li><a href=" {% static 'product-page(left-sidebar).html' %} ">left sidebar</a></li>
                                                                                <li><a href=" {% static 'product-page(right-sidebar).html' %} ">right sidebar</a></li>
                                                                                <li><a href=" {% static 'product-page(no-sidebar).html' %} ">non sidebar</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col mega-box">
                                                                    <div class="link-section">
                                                                        <div class="menu-title">
                                                                            <h5>bonus layout</h5>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li><a href=" {% static 'product-page(bundle).html' %} ">bundle</a></li>
                                                                                <li><a href=" {% static 'product-page(image-swatch).html' %} ">image swatch</a></li>
                                                                                <li><a href=" {% static 'product-page(vertical-tab).html' %} ">vertical tab</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col mega-box">
                                                                    <div class="link-section">
                                                                        <div class="menu-title">
                                                                            <h5>product layout <span class="new-tag">new</span></h5>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li><a href=" {% static 'product-page(4-image).html' %} ">4 image </a></li>
                                                                                <li><a href=" {% static 'product-page(sticky).html' %} ">sticky</a></li>
                                                                                <li><a href=" {% static 'product-page(accordian).html' %} ">accordian</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col mega-box">
                                                                    <div class="link-section">
                                                                        <div class="menu-title">
                                                                            <h5>thumbnail image</h5>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li><a href=" {% static 'product-page(left-image).html' %} ">left image</a></li>
                                                                                <li><a href=" {% static 'product-page(right-image).html' %} ">right image</a></li>
                                                                                <li><a href=" {% static 'product-page(image-outside).html' %} ">image outside</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col mega-box">
                                                                    <div class="link-section">
                                                                        <div class="menu-title">
                                                                            <h5>3 column</h5>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li><a href=" {% static 'product-page(3-col-left).html' %} ">thumbnail left</a></li>
                                                                                <li><a href=" {% static 'product-page(3-col-right).html' %} ">thumbnail right</a></li>
                                                                                <li><a href=" {% static 'product-page(3-column).html' %} ">thubnail bottom</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col mega-box">
                                                                    <div class="link-section">
                                                                        <div class="menu-title">
                                                                            <h5>product element</h5>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li><a href=" {% static 'element-productbox.html' %} ">product box</a></li>
                                                                                <li><a href=" {% static 'element-product-slider.html' %} ">product slider</a></li>
                                                                                <li><a href=" {% static 'element-no_slider.html' %} ">no slider</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row menu-banner">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-header category-header-inverse">
            <div class="custom-container">
                <div class="row">
                    <div class="col">
                        <div class="navbar-menu">
                            <div class="category-left">
        
                                <div class="input-block">
                                    <div class="input-box">
                                        <form class="big-deal-form" method="get" action="{%url 'product:searching'%}">
                                            <div class="input-group ">
                                                <div class="input-group-prepend">
                                                    <span class="search"><i class="fa fa-search"></i></span>
                                                </div>
                                                    <input id="q" name="q" type="text" class="form-control" placeholder="Search for a Product" >
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>