{%load static%}

<script src=" {% static 'assets/js/jquery-3.3.1.min.js' %} "></script>

<!-- slick js-->
<script src=" {% static 'assets/js/slick.js' %} "></script>

<!-- popper js-->
<script src=" {% static 'assets/js/popper.min.js' %} "></script>

<!-- Timer js-->
<script src=" {% static 'assets/js/menu.js' %} "></script>

<!-- Bootstrap js-->
<script src=" {% static 'assets/js/bootstrap.js' %} "></script>

<!-- Bootstrap js-->
<script src=" {% static 'assets/js/bootstrap-notify.min.js' %} "></script>

<!-- Theme js-->
<script src=" {% static 'assets/js/slider-animat-three.js' %} "></script>
<script src=" {% static 'assets/js/script.js' %} "></script>
<script src=" {% static 'assets/js/timer.js' %} "></script>
<script src=" {% static 'assets/js/modal.js' %} "></script>